
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
    background-color: rgb(52,152,219);
 	font-family:'roboto' ;

    
}
.background{
    background:url('../images/backgroundone.png') center center no-repeat;
    background-size:cover;
    width:auto;
    height: 800px;
    margin-top: -615px;
    
}
    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }

.login-form {
	background:#eee;
	width: 10%;
	margin:9% auto 4% auto;
 	position: relative;
    box-shadow: 0px 0px 22px  #626262;
 	-webkit-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
    
 	
}

.head {
	position: absolute;
	top:-30%;
    left: 15%;
    right: 15%;
}

.head img {
	width: 450px;
}
.main{
	position:relative;
}
.main h1{
	font-size:20px;
	color:#676767;
	padding-top:35%;
	text-align: center;
    font-family: sans-serif;
}
.main form {
	width: 80%;
	margin: 0 auto;
	padding: 6% 0 9% 0;
}

 input[type="text"], input[type="password"]{
	text-align:left;
	position: relative;
	width:92%;
	padding:3%;
	background:#eee;
	margin-bottom: 6%;
	font-family:;
	color: #000;
	font-weight:;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
 input[type="text"]:hover, input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;

 }
 input[type="submit"]{
	width: 99%;
	padding: 3%;
	margin-bottom: 8%;
	background:rgb(52,152,219);
	font-family: 'Open Sans', sans-serif;
	color: #626262;
	box-shadow: inset 0px 0px 10px #666464;
	-webkit-text-shadow: 0px 0px 3px #000;
	-moz-text-shadow: 0px 0px 3px #000;
	-o-text-shadow: 0px 0px 3px #000;
	-ms-text-shadow: 0px 0px 3px #000;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
input[type="submit"]:hover{
	background:#128A42;
	color:#fff;
}

/*-----start-responsive-design------*/
@media (max-width:1440px){
	.login-form {
	   width:22%;
	   margin: 11% auto 4% auto;
	}
    .main form{
	   padding-top: 13%;
	}
    .main .submit{
        padding-top: 10%;
    }
}

@media (max-width:1366px){
	.login-form {
	   width:20%;
	   margin: 11% auto 4% auto;
	}
	
    .main form{
	   padding-top: 13%;
	}
    .main .submit{
        padding-top: 10%;
    }
}

@media (max-width:1280px){
	.login-form {
	   width:20%;
	   margin: 11% auto 4% auto;
	}
	.main h1 {
	   padding-top: 30%;
	}
    .main form{
	   padding-top: 13%;
	}
    .main .submit{
        padding-top: 10%;
    }
}

@media (max-width:1024px){
    .login-form {
	   width:30%;
	   margin: 18% auto 4% auto;
	}
    
    .head {
	   top:-30%;
    }
    .head img{
        width: 200px;
    }
	.main h1 {
	   padding-top: 34%;
	}
    .main form{
	   padding-top: 13%;
	}
    .main .submit{
        padding-top: 10%;
    }
}

@media (max-width:768px){
	.login-form  {
		margin: 16% auto 0;
		width: 35%;
	}
    .head img{
        width: 180px;
    }
	
}

@media (max-width:640px){
	.login-form {
	margin: 30% auto 0;
	width: 50%;
	}
    .main h1 {
	   padding-top: 35%;
	}
    .main form{
	   padding-top: 13%;
	}
    .main .submit{
        padding-top: 10%;
    }
}
@media (max-width:480px){
	.login-form {
	margin: 32% auto 0;
	width: 74%;
	
	}
	.copy-right {
	left:30%;
	bottom:-17%;
	}
	.main h1 {
	font-size: 22px;
	}
	.head img {
	width: 78%;
	}
	.head {
	top: -15%;
	left: 34%;
	}
	input[type="text"], input[type="password"], input[type="submit"] {
	font-weight: 600;
	margin-bottom: 4%;
	}
}
@media (max-width:320px){
	.login-form  {
		margin:20% auto 0;
		width: 85%;

	}
	.main h1 {
	padding-top: 20%;
	font-size: 20px;
	}
	.head img {
	width: 60%;
	border: 5px solid rgba(221, 218, 215, 0.23);
	}
	.head {
	top: -15%;
	left: 36%;
	}
	input[type="text"], input[type="password"],input[type="submit"] {
	font-weight:600;
	font-size: 15px;
	}
	.main form p a {
	font-size: 15px;
	}
	input[type="submit"] {
	padding: 4%;
	}

}

/* animacion nube */

@keyframes animatedClounds-t {
		from { background-position: -80% 0; }
		to { background-position: 150% 0; }
	}
@-webkit-keyframes animatedClounds-t {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@-ms-keyframes animatedClounds-t {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@-moz-keyframes animatedClounds-t {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@keyframes animatedClounds {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@-webkit-keyframes animatedClounds {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@-ms-keyframes animatedClounds {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@-moz-keyframes animatedClounds {
		from { background-position: -40% 0; }
		to { background-position: 150% 0; }
	}
@keyframes animatedClounds-Two {
		from { background-position: -60% 0; }
		to { background-position: 170% 0; }
	}
@-webkit-keyframes animatedClounds-Two {
		from { background-position: -60% 0; }
		to { background-position: 170% 0; }
	}
@-ms-keyframes animatedClounds-Two {
		from { background-position: -60% 0; }
		to { background-position: 170% 0; }
	}
@-moz-keyframes animatedClounds-Two {
		from { background-position: -60% 0; }
		to { background-position: 170% 0; }
	}
#animate-area{ 
        margin-top: -650px;
		width: 100%; 
		height: 310px; 
		background-image: url(../images/clouds.png);
		background-position: 0px 0px;
		background-repeat: repeat-y;
		animation: animatedClounds 4s linear infinite;
		-ms-animation: animatedClounds 4s linear infinite;
		-moz-animation: animatedClounds 4s linear infinite;
		-webkit-animation: animatedClounds 55s linear infinite;
	}
#animate-area-two{ 
        margin-top: -300px ;
		width: 100%; 
		height: 310px; 
		background-image: url(../images/clouds-1.png);
		background-position: 0px 0px;
		background-repeat: repeat-y;
		animation: animatedClounds-Two 4s linear infinite;
		-ms-animation: animatedClounds-Two 4s linear infinite;
		-moz-animation: animatedClounds-Two 4s linear infinite;
		-webkit-animation: animatedClounds-Two 45s linear infinite;
	}
#animate-area-t{ 
        margin-top: -300px;
		width: 100%; 
		height: 310px; 
		background-image: url(../images/clouds-1.png);
		background-position: 0px 0px;
		background-repeat: repeat-y;
		animation: animatedClounds-t 4s linear infinite;
		-ms-animation: animatedClounds-t 4s linear infinite;
		-moz-animation: animatedClounds-t 4s linear infinite;
		-webkit-animation: animatedClounds-t 90s linear infinite;
	}

/* ------ */
#animate-rocket{
    float: right;
    margin-right: 150px;
}
#rocket{
    margin-top: -240px;
    text-align: center;
}
#rocket img{
    width: 90px;
}
#base{
    margin-top: -25px;
}
#base img{
    width: 340px;
}