.labeldate{
    font-size: 12px;
}
.backgroundbody{
    background-color: transparent;
}
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
.md-toolbar-tools{
    background-color: rgb(52,152,219);
}
.color-circle{
    color: rgb(52,152,219);
        
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

.caja{
    margin-top: 15px;
}
.title-project{
    margin-top: 40px;
    font-size: 20px;
}
.title-team{
    font-size: 25px;
}
.title-time{
    margin-top: 30px;
}
.title-time p{
    font-size: 2rem;
   
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: red;
}
.text-description{
    margin-top: -60px;
}
#customer-box{
    margin-left: 50px;
}
.technology img{
    height:30px;
    width:30px;
    margin-left: 2px;
}

.technologys img{
    width: 10px;
    margin-left: 2px;
}
.profile img{
    width:120px; 
    margin-top:40px;
    border-radius: 5px 5px 5px;
    box-shadow: 0px 0px 4px #626262;
}
iframe{
    border-radius: 10px 10px 10px 10px;
    border-color: transparent;
}
.buttondtl{
    margin-top: 10px;
    background-color: rgb(52,152,219);
    color: aliceblue;
    width: 100px;
    box-shadow: 0px 0px 4px #626262;
}
.sliderbarpro{
    margin-top: -25px;
}