<!-- -->

<body class="backgroundbody">

<div class="container">
    <div ng-controller="AppCtrl" ng-app="app">
        <div ng-repeat="data in info " ng-if="data.Rocket_Dashboard === 'true'" class="modal-content caja">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="profile">
                                    <!--<img src="{{data.Image_downloadUrl}}{{urlsimgs}}">-->
                                   <img ng-src="{{data.image_downloadUrl == null && '../../images/plus.png' || (data.image_downloadUrl + urlsimgs)}} ">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="title-project">{{data.Project_Name}}</p>
                                <div class="technology">
                                    <img ng-src="{{data.Image_2_downloadUrl == null && '../../images/profile.jpg' || '../../images/plus.png'}}">
                                    <img ng-src="{{data.Image_3_downloadUrl == null && '../../images/profile.jpg' || '../../images/plus.png'}}">
                                    <img ng-src="{{data.Image_4_downloadUrl == null && '../../images/profile.jpg' || '../../images/plus.png'}}">
                                </div>
                                <a class=" btn buttondtl" data-toggle="modal" data-target="#ModalVer" ng-click="ver(data)">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div id="ModalVer" class="modal fade " role="dialog">
                        <div class="modal-dialog ">
                            <div class="modal-content card">
                                <div class="modal-header">
                                    <h2 class=" ">{{app.Project_Name}}</h2>
                                </div>
                                <div class="modal-body ">
                                    <p  class="card-text text-center font-detail">{{app.ClientId}}</p>
                                </div>
                                <div class="card-footer text-muted ">
                                    <p class="card-text text-center">{{app.Inicio}}</p>
                                </div>
                                <div class="modal-footer">
                                    <a data-dismiss="modal"><i style="font-size:20px" class="fa fa-stack-5x fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="col-sm-12 title-time" >
                            <p class="">Time</p>
                            <div class="progress" ng-style="pro">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" ng-style="free">
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:2%">
                                   <div style="margin-top: 30px">

                                   </div>
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" ng-style="warning">
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-sm-6" style="float:left; margin-left:-10px">
                                <span class="labeldate" id="fecha_inicial" >{{data.Inicio}}</span>
                                <p id="myDiv"></p>
                                <p id="total"></p>
                            </div>


                            <div class="col-sm-4" style="">
                                <span class="labeldate" id="fecha_reto">{{data.Fecha_retadora}}</span>
                            </div>

                            <div class="col-sm-6" style="text-align:right; float:right;">
                                <span class="labeldate" id="fecha_final">{{data.Fin}}</span>
                            </div>
                            <div class="col-sm-12">
                                <br>
                                <span class="title-time">Lives</span>
                                <p>{{bugs}}/{{data.Limite_Bugs}}</p>
                                <div ng-init="rating = star.rating"></div>
                                <div class="star-rating" star-rating rating-value="bugs" data-max="data.Limite_Bugs" on-rating-selected="rateFunction(rating)">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img src="../../images/estadouno.png" style="width:200px; margin-bottom:25%; margin-top: 25%">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="operator.js"></script>
<link rel="stylesheet" href="../../css/styleloader.css">
<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../../nodemodules/angular/angular.min.js"></script>

<script src="../../js/bootstrap-star-rating.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="https://use.fontawesome.com/5b3b0d1d00.js"></script>
<script src="../../nodemodules/angular-animate/angular-animate.min.js"></script>
<script src="../../nodemodules/angular-aria/angular-aria.min.js"></script>
<script src="../../nodemodules/angular-material/angular-material.js"></script>
</body> 